.navbar-nav{
    margin-left: auto;
font-size: larger;
}
.navbar{
    background-color: rgb(255, 255, 255);


width: 100%;
}
.navbar a:hover{
    background-color:gray !important;
}
 
*{box-sizing:border-box;}

.all{
    margin: 0;
position: relative;
}
.all img{
    vertical-align: middle;
}
.all .cont{
position: absolute;
bottom: 50%;
background: rgba(255, 255, 255, );
color: aqua;
width: 100%;
padding: 20px;
text-align: center;
}


.Projects img{
    width: 99%;
    margin: .5%;
}
.row{
    padding: 0%!important;
margin: 0% !important;
}
.me{
    text-align: center;
font-size: larger;
color: rgb(0, 204, 41);
}
.texrr{
text-align: center;
margin-top: 3%;
font-size: x-large;

}
.ffff{
text-align: center;

}
.d-flex{
    width: 50%;
height: 3%;
}
.gg1{
    color: aqua;
    background-color: rgb(0, 0, 0);
font-size: medium;
padding: .5%;
margin-bottom: auto;
}
.f{
    margin: auto;
text-align: center;
background-color: black;
color: teal;
padding: 1.5%;
}
